.rule-with-one
  display: block
  @include my-new-mixin-one

.rule-with-two
  @include my-new-mixin-two
  @include my-another-mixin-two
  display: block
  .rule-with-two-one
      @include my-another-mixin-two-one
      display: none
      font-size: 10px
      @include my-another-mixin-two-two
      @include my-another-mixin-two-three
